@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter', Arial, Helvetica, sans-serif;

}

a:visited{
    color: green;
    text-decoration: none;
    font-weight: bold;
}



a{
    color: greenyellow;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a::before{
    content: '♛';
}


.especial{

    content: '[♛]';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}

a:active {
    color: yellow;
  }


  div{
     display: inline-block;
     background-color: gray;
     text-align: center;
     border: 1px solid black;
     width: 200px;
     height: 200px;
     
     
  }


  div:hover{
      background-color: darkblue;
  }

  .nobre{
      color: darkgreen;
  }